
OrganDesigner/.vs/OrganDesigner/v15/.suo
OrganDesigner/.vs/OrganDesigner/v15/Server/sqlite3/storage.ide-shm
OrganDesigner/.vs/OrganDesigner/v15/Server/sqlite3/storage.ide-wal
OrganDesigner/OrganDesigner/obj/Debug/OrganDesigner.csproj.CoreCompileInputs.cache
OrganDesigner/OrganDesigner/obj/Debug/OrganDesigner.csprojAssemblyReference.cache
