
OrganDesigner/.vs/OrganDesigner/v15/.suo
*.ide-wal
*.ide-shm
OrganDesigner/.vs/OrganDesigner/v15/Server/sqlite3/storage.ide-wal
OrganDesigner/.vs/OrganDesigner/v15/.suo
OrganDesigner/.vs/OrganDesigner/v15/Server/sqlite3/storage.ide-shm
